.blog-post {
    margin-bottom: 14rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.blog-footer {
    padding: 4rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p {
    margin-bottom: .25rem;
}